.card{
    min-height: 100vh;
    height: 100%;
    margin: auto;
    text-align: center;
    }

.CardTitle{
    display: inline-block;
    margin-bottom: 0;
    }

.IconImageTop{
    height: 12.5vw;
    margin: auto;
    float: right;
    }

.Timer{
    float: left;
    }

.divOfImageCenter{
    position: absolute;
    top: 50vw;
    bottom: 50vw;
    right: 0;
    left: 0;
    margin: auto;
    height: 36vh;
    }

.IconImageCenter{
    margin:'auto'
    }

.CardText{
    margin: auto;
    text-align: center;
    overflow: hidden;
    }

    
/*********      Responsive     ***********/
@media screen and (max-width: 1540px) { 
    .card{width: 65vw;}
    .base-timer {height:4vw;width: 4vw;}
    span#base-timer-label{height:4vw;width: 4vw;font-size: 17px;}
    .IconImageTop{width:4vw;height: 4vw;}
    .IconImageCenter{width: 22vw;height: 40vh;}
    .divOfImageCenter{height: 40vh;}
    .CardText{width: 14vw;height: 3vw;margin-top: 1vw;}
    }
     
@media screen and (max-width: 1030px) { 
    .card{width: 80%;}
    .IconImageTop{width:12.5vw;height: 11.5vw;}
    .CardTitle{font-size: xx-large;margin-top: 4vw;}
    .base-timer {height:12vw;width: 12vw;}
    span#base-timer-label{height:12vw;width: 12vw;font-size: 24px;}
    .IconImageCenter  {width: 58vw;height: 38vh;}
    .divOfImageCenter{height: 35vh;}
    .CardText{width: 40vw;height: 6vw;margin-top: 2vw;font-size: x-large;}
     }
     
@media screen and (max-width: 480px) { 
    .card{width: 100%;} 
    .CardTitle{font-size: larger; margin-top: 3vw;}
    .ButtonTop{font-size: medium;}
    .base-timer {height:14vw;width: 14vw;}
    span#base-timer-label{height:14vw;width: 14vw;font-size: 11px;}
    .IconImageTop{width:14vw;height: 14vw;}
    .IconImageCenter  {width: 65vw;height: 65vw;}
    .divOfImageCenter{height: 36vh;}
    .CardText{width: 52vw;height: 12vw;margin-top: 4vw;font-size: initial;}
     }