.Simulation{
    background-color: rgb(144, 188, 224);
    width: 94vw;
    margin: auto;
    padding: 10px; 
    border-radius: 25px;   
    text-align: right;
    margin-top:-10px;

}
.SimulationExtrnal{
    margin: auto;
    padding: 10px; 
}
.SumulationName{
    font-size: large;
    font-weight: bold;
}
.circle{
    width:3vw;
    height: 5vh;
    margin-top: -25px;
    background:white;
    border-radius:  50%;  
    font-size: small;
    padding: 10px 7px 7px 7px;
}
.circleTime{
    margin-left:7vw;
    float: left;
}
.circleParticipants{
    float: left;
    margin-left: 2vw;
}
.SimulationButton{
    background-color: white;
    margin: auto;
    margin-top: -10px;
    border-radius:  10px;  
    width: 65px;
    margin-left: 78vw;
    padding: 3px;
}
.SimulationButton2{
    background-color: white;
    margin: auto;
    margin-top: -27px;
    border-radius:  10px;  
    width: 65px;
    margin-left: 70vw;
    padding: 3px;
}
