/* desktop */
/* ---------------------------------- */
.Simulation{
    background-color: rgb(144, 188, 224);
    /* width: 430px; */
    margin: auto;
    width: 98%;
    padding: 10px; 
    border-radius: 25px;   
    text-align: right;
    margin-top:-10px;

}
.SimulationExtrnal{
    /* width: 430px; */
    margin: auto;
    /* width: 99%; */
    padding: 10px; 
}
.SumulationName{
    font-size: large;
    font-weight: bold;
}
.circle{
    width:25px;
    height: 25px;
    margin-top: -25px;
    background:white;
    border-radius:  50%;  
    font-size: small;
    padding: 10px 7px 7px 7px;
}
.circleTime{
    margin-left:170px;
    float: left;
}
.circleParticipants{
    float: left;
    margin-left: 20px;
}
.SimulationButton{
    background-color: white;
    margin: auto;
    margin-top: -10px;
    border-radius:  10px;  
    width: 65px;
    margin-left: 1050px;
    padding: 3px;
}
/* tablet */
/* ---------------------------------- */
.SimulationTablet{
    background-color: rgb(144, 188, 224);
    width: 370px;
    /* margin: auto;
    width: 58%; */
    padding: 10px; 
    border-radius: 25px;   
    text-align: right;
    margin-top:-10px;
}
.circleTablet{
    width:25px;
    height: 25px;
    margin-top: -25px;
    background:white;
    border-radius:  50%;  
    font-size: small;
    padding: 10px 7px 7px 7px;
}
.circleTimeTablet{
    margin-left:40px;
    float: left;
}
.circleParticipantsTablet{
    float: left;
    margin-left: 20px;
}
.SimulationButtonTablet{
    background-color: white;
    margin: auto;
    margin-top: -10px;
    border-radius:  10px;  
    width: 65px;
    margin-left: 250px;
    padding: 3px;
}
/* phone */
/* ---------------------------------- */
.SimulationPhone{
    background-color: rgb(144, 188, 224);
    width: 370px;
    /* margin: auto;
    width: 58%; */
    padding: 10px; 
    border-radius: 25px;   
    text-align: right;
    margin-top:-10px;
}
.circlePhone{
    width:25px;
    height: 25px;
    margin-top: -25px;
    background:white;
    border-radius:  50%;  
    font-size: small;
    padding: 10px 7px 7px 7px;
}
.circleTimePhone{
    margin-left:40px;
    float: left;
}
.circleParticipantsPhone{
    float: left;
    margin-left: 20px;
}
.SimulationButtonPhone{
    background-color: white;
    margin: auto;
    margin-top: -10px;
    border-radius:  10px;  
    width: 65px;
    margin-left: 250px;
    padding: 3px;
}